         /*
General Configurations
*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font: normal 16px sans-serif;
    color: #555;
}
body.dark , section.dark{
  background-color: #222;
  color: #fff;
}
body.light , section.light{
  background-color: #fff;
  color: #222;
}
ul, nav{
    list-style: none;
}
/*nav-bar style*/
nav{
    list-style: none;
}
a{
    text-decoration: none;
    opacity: 0.75;
    margin: 0 15px;
    color: white;
    cursor: pointer;
}
a:hover{
    opacity: 1;
}
a.btn{
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
    margin-top: 10px;
    color: white
}

section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px;
}

#login_btn,#signup_btn{
flex-wrap: wrap;
display: inline-block;
}
/*
Header Configurations
*/
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    padding: 35px 100px 0;
    -webkit-animation: 1s fadein 0.5s forwards;
            animation: 1s fadein 0.5s forwards;
    opacity: 0.5;
    color: white;
}
@-webkit-keyframes fadein{
    100%{
        opacity: 1;
    }
}
@keyframes fadein{
    100%{
        opacity: 1;
    }
}

header h2{
    font-family: "Quicksand, sans-serif";
    color: white;
}

header nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
}
header nav li{
    margin: 0 15px;
    color: white;
}
@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}

@media (max-width: 700px){
	header{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

/*
Cover and Image Animation configuration
*/
.hero{
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: white;
}
.hero .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
    -webkit-animation: 15s change 1s forwards;
            animation: 15s change 1s forwards;
    -webkit-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
}

@keyframes change{
    0%{
    background-image: url(https://wallpaper-house.com/data/out/21/wallpaper2you_2564.jpg);
    }
    25%{
       background-image: url(https://wallpaper-house.com/data/out/9/wallpaper2you_297130.jpg);
    }
    50%{
        background-image: url(https://wallpaper-house.com/data/out/7/wallpaper2you_192201.jpg);
        
    }
    75%{
        background-image: url(https://wallpaper-house.com/data/out/8/wallpaper2you_248140.jpg);
        
    }
    100%{
        background-image: url(https://wallpaper-house.com/data/out/10/wallpaper2you_382537.jpg);
        
    }
}
.hero h1{
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 40px;
    color: white;
}
.hero h3{
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
    color: white;
}
.hero a.btn{
    padding: 20px 46px;
}
.hero-content-area{
    opacity: 0;
    margin-top: 100px;
    -webkit-animation: 1s slidefade 1s forwards;
            animation: 1s slidefade 1s forwards;
}
@-webkit-keyframes slidefade{
    100%{
        opacity: 1;
        margin: 0;
    }
}
@keyframes slidefade{
    100%{
        opacity: 1;
        margin: 0;
    }
}

.grid{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

hr{
    width: 100%;
    height: 2px;
    background-color: #3f51b5;
    border: 0;
    margin-bottom: 50px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}
	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}

/*
Section Configurations
*/
section h3.title{
    text-transform: capitalize;
    font: bold 32px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}
.destinations .grid li{
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
.destinations .grid li.small{
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
}
.destnations .grid li.large{
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
}


/*
 	Contact Section
*/

.contact{
	background-color: #f7f7f7;
}

.contact form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact form .btn{
	padding: 18px 42px;
}

@media (max-width: 800px){

	.contact form input{
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}

/*
 	Footer
*/

footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}
/*============================ AUTHOR ============================================*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Just the background stuff */
span.s1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;
}

.body_author {
  background-color: #353B3F;
  font-family: 'Roboto', sans-serif;
}

/* The card */
.card_ {
  position: relative;
  height: 450px;
  width: 900px;
  margin: 50px auto;
  background-color: #FFF;
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image on the left side */
.thumbnail_ {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 500px;
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
  margin-left: 590px;
  margin-right: 20px;
}

h1.title {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
}

.author_ {
  background-color: #9ECAFF;
  height: 30px;
  width: auto;
  text-align: center;
  border-radius: 20px;
}


h2.userId{
  padding-top: 8px;
  margin-right: 6px;
  text-align: center;
  font-size: 0.8rem;
  color: white;
}

.separator_ {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

p.paragraph {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}

/* DATE of release */
h6.dateC {
  position: absolute;
  left: 30px;
  bottom: 10px;
  font-size: 2rem;
  color: #C3C3C3;
}

/* Floating action button */
.fab_ {
  position: absolute;
  right: 0px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1875D0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}

.fab_ i {
  font-size: 35px;
}

/* Commentaires  */
.wrapper {
  width: 700px;
  padding: 20px 40px 20px 0px;
  margin: auto;
  background-color: #ffffff;
  border: 2px solid #777777;
  border-radius: 20px;
  box-shadow: 2px 2px 15px #777777;
}

ul.twocolumn,
ol.twocolumn {
  -moz-column-count: 1;
  -moz-column-gap: 5px;
  -ms-column-count: 1;
  -ms-column-gap: 5px;
  -webkit-column-count: 1;
  -webkit-column-gap: 5px;
  column-count: 1;
  column-gap: 5px;
  color: #cccccc;
  list-style-position: inside;
}

.elemnts {
  padding: 10px 10px 0 10px;
  margin: 10px;
  background-color: #eeeeee;
  border-radius: 15px;
  box-shadow: 1px 1px 8px #777777;
  overflow: hidden;
}

.email_cmt {
  display: inline-block;
  text-decoration: underline;
  margin-left: 10px;
  color: #000000;
  font-weight: bold;
}

.cmt_contenu {
  margin: -15px 0 0 46px;
  color: #555555;
  text-align: justify;
}

li .fas.fa-user-circle {
  font-size: 36px;
}

/*============================ ADMIN ============================================*/
/* body {
  background-color: #f8f9fa;
  padding: 20px;
} */

.stat {
  color: #007bff;
  margin-bottom: 30px;
}

#statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.statistic-item {
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.statistic-item h3 {
  color: #007bff;
  margin-bottom: 10px;
}

.statistic-item h4 {
  font-size: 28px;
  color: #333;
}

.statistic-item i {
  font-size: 36px;
  margin-bottom: 10px;
}

.statistic-item:hover{
width: 220px;
cursor: pointer;
box-shadow: #070707;
box-sizing: border-box;
background-color: #aec9e6;
}  
/* Articles style */
#articles , #users ,#categories,#comments {
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 800px;
margin: 0 auto;
}

.art {
background-color: #fff;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
padding: 20px;
margin: 10px;
width: 300px;
display: flex;
flex-direction: column;
}

article:hover {
border: 1px solid rgb(165, 64, 152);
color: rgb(68, 73, 92);
border-left: 8px solid rgb(109, 45, 90);
}
.articleTitle {
font-size: 20px;
font-weight: bold;
color: #333;
margin-bottom: 10px;
}

.articleContent {
color: #555;
margin-bottom: 15px;
}

.articleImage {
width: 100%;
height: auto;
margin-bottom: 15px;
}

.articleCreatedAt,
.articleUpdatedAt,
.userID{
color: #888;
margin-bottom: 5px;
}



/*  ADD ARTICLE  */
orm{
  width: fit-content;
  margin: auto;
}



.create {
  all: unset;
  background-color: rgb(255, 62, 62);
  color: #fff;
  margin: 28px;
  padding: 3px 10px;
  border-radius: 6px;
  display: block;
  font-size: 25px;
  float: right;
}


.create:hover {
  background-color: rgb(214, 55, 55);
  font-size: 26px;
}


.create:active {
  transform: scale(0.9);
  background-color: tomato;
}
/* Center a div  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.center {
  text-align: start;
}
sub{
    float: right;
}

